body {
  font-family: 'proxima-soft', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  margin: 0;
  background-image: url("images/background.jpg");
}

.banner {display: block;} /* Remove bottom white space disappear */

div.center {margin-left: 20%; margin-right: 20%;}

div.separator{margin-bottom: 3em;}

img.imgsize {width: 70%; margin-left: 15%;}

img.logo {width: 25%; margin-left: 37.3%;}

h2.h {color:#2F4F4F; text-align: center;}

h3.sub {color: black; text-align: center;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  font-family: 'proxima-extra-condensed', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #005073;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 900px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
  img.logo {margin-left: 22%; width: 55%;}
  img.imgsize {margin-left: 0; width: 100%;}
  div.center{margin: 0 16px;}
  body{font-size: 18px;}
}
